<!-- Portfolio Grid -->
<section class="bg-light page-section" id="basic_analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">How much is said?</h2>
        <h3 class="section-subheading text-muted">
          Let's take a closer look at our dataset!
        </h3>
      </div>
    </div>

    <!-- DATA SIZE -->
    <div class="row pie-label-up">

      <div class="col-md-12">
        <p class="text-justify lead">
          First of all, we should know the size of our data.
        </p>
      </div>

      <div class="col-md-4">
        <h6 class="subheading text-center">Total number of politicians</h6>
      </div>
      <div class="col-md-4">
        <h6 class="subheading text-center">Total number of quotes</h6>
      </div>
      <div class="col-md-4">
        <h6 class="subheading text-center">Total number of climate change quotes</h6>
      </div>

      <div class="col-md-4">
        <div id="pie_politicians"></div>
      </div>
      <div class="col-md-4">
        <div id="pie_quotes"></div>
      </div>
      <div class="col-md-4">
        <div id="pie_climate_quotes"></div>
      </div>
    </div>

    <br><br>

    <!-- Gender Analysis -->
    <div class="row">
      <div class="col-md-12">
        <p class="text-justify lead">
          Let's warm up with a simple question - demographic analysis
        </p>
      </div>
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">Gender analysis</h5>
      </div>

      <div class="col-md-6">
        <h6 class="subheading text-center">Total number of quotes by gender</h6>
      </div>
      <div class="col-md-6">
        <h6 class="subheading text-center">Number of climate change related quotes by gender</h6>
      </div>

      <div class="col-md-6">
        <div id="pie_gender_cc_quotes"></div>
      </div>
      <div class="col-md-6">
        <div id="pie_gender_quotes"></div>
      </div>

      <div class="col-md-12 residuals mt-2">
        <pre>
          ============================================================================
                                              total_num     climate_change    ratio
          ----------------------------------------------------------------------------
          Male                                4796931       38173            0.79%
          Female                               942930       8977             0.95%
          =============================================================================
          </pre>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          At the first glance, the male gender has more climate change related quotes and a bigger total number of
          quotes than
          the females. However, when comparing the ratio of <em>climate_change_quotes / all_quotes</em> for both men
          (ratio = 0.79%) and women (ratio = 0.95%)
          it seems as if the women are more aware of this global problem.
          <br>Interesting...
        </p>
      </div>
    </div>

    <br><br>

    <!-- Age Analysis -->
    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">Age analysis</h5>
      </div>
      <div class="col-md-12">
        <p class="text-justify lead">
          Secondly, we will analyse data with respect to the age. Is awareness more present in certain age groups?
        </p>
      </div>

      <div class="col-md-12">
        <h6 class="subheading text-center">Number of climate change quotations by age</h6>
        <div>
          {% include CCquotes_per_age.html %}
        </div>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          So, we can see that number of quotes with respect to age parameter follows a Gaussian-like distribution, with
          small
          anomalies. <br>
          Now, let's see if the age structure changes when we add the aforementioned gender dimensionality.
        </p>
      </div>

      <div class="col-md-6">
        <h6 class="subheading text-center">Age analysis with added gender dimensionality</h6>
      </div>
      <div class="col-md-6">
        <h6 class="subheading text-center">Age analysis with added gender dimensionality for climate change quotes</h6>
      </div>
      <div class="col-md-6">
        <div>{% include politicians_age_gender.html %}</div>
      </div>
      <div class="col-md-6">
        <div>
          {% include CC_age_gender.html %}
        </div>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          The visual representation of the age analysis with added gender dimensionality for climate change quotes
          (i.e. the second plot), as
          well as the <em>mean</em> values, are similar - we could ask ourselves if these
          two distributions are coming from the same underlying distribution. Since the std values are similar, we can
          apply the ttest.
        </p>
        <p class="text-justify lead">
          After getting a p-value = 1.79e-05 (which is less than the ordinary 0.01), we can conclude that the difference in
          the mean values is significant, therefore these two distributions most likely come from two different
          distributions - where the mean for females is a bit lower than the one for males.
        </p>
        <p class="text-justify lead">
          This could lead us to the conclusion that older female politicians talk less about climate change than their
          male colleagues.
          However, taking the first plot into the account, we can observe a much bigger number of older male politicians
          than females - making the older female politicians, to some extent, underrepresented.
        </p>
      </div>
    </div>

    <br><br>

    <!-- Political Analysis -->
    <div class="row">
      <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">Political affiliation analysis</h5>
      </div>
      <div class="col-md-12">
        <p class="text-justify lead">
          The two major political parties in the US are The Republican Party and The Democratic Party.
          Let's explore the distribution of quotes in regards to these two political parties.
        </p>
      </div>

      <div class="col-md-6">
        <h6 class="subheading text-center">Quotes grouped by party affiliation</h6>
      </div>
      <div class="col-md-6">
        <h6 class="subheading text-center">Climate change quotes grouped by party affiliation</h6>
      </div>

      <div class="col-md-6">
        <div id="pie_quotes_party"></div>
      </div>
      <div class="col-md-6">
        <div id="pie_climate_quotes_party"></div>
      </div>
      <br><br>
      <div class="col-md-12">
        <p class="text-justify lead">
          The inspection of these pie charts unfolds some peculiar things. The Democratic party, although having fewer
          quotes in total, has a bigger number of quotes related to climate change. Does it mean that Democrats
          are more conscious?
          <br>On the other hand, ratio values (i.e. <em>climate_change_quotes / all_quotes</em>) are very small, so it
          may lead us to believe that political affiliation is
          irrelevant?
          <br><br>Genuinely peculiar...
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-justify lead">
          But what about the individuals from those parties? Let's observe the most cited ones.
        </p>
      </div>
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="subheading text-center">Top Climate Change Speakers</h6>
          </div>
          <div class="panel-body">
            <div class="col-md-10 display-inline-block">
              <div id="top-speakers"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-justify lead">
          As expected, the majority of climate change top speakers are indeed affiliated with the Democratic party.
        </p>
      </div>
    </div>

    <br><br>
    {% include linear_regression.html %}
</section>