<!-- Portfolio Grid -->
<section class="bg-light page-section" id="basic_analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Basic Analysis</h2>
        <h3 class="section-subheading text-muted">
          Let's take a closer look at our dataset!
        </h3>
      </div>
    </div>

    <div class="row pie-label-up">

      <div class="col-md-12">
        <p class="text-justify lead">
          First of all, we should know the size of our data.
        </p>
      </div>


      <div class="col-md-6">
        <h6 class="subheading text-center">Total number of politicians</h6>
        <div id="pie_politicians"></div>
      </div>
      <div class="col-md-6">
        <h6 class="subheading text-center">Total number of quotes</h6>
        <div id="pie_quotes"></div>
      </div>
    </div>

    <br><br>

    <div class="row">
      <div class="col-md-12">
        <p class="text-justify lead">
          Two major political parties in the US are The Republican Party and The Democratic Party.
          Let's explore the distribution of politicians, as well as quotes, in regards to these two political parties.
        </p>
      </div>

      <div class="col-md-6">
        <h6 class="subheading text-center">Politicians grouped by party affiliation</h6>
        <div id="pie_politicians_party"></div>
      </div>
      <div class="col-md-6">
        <h6 class="subheading text-center">Quotes grouped by party affiliation</h6>
        <div id="pie_quotes_party"></div>
      </div>
    </div>

    <br><br>

    <div class="row mt-3">
      <div class="col-md-12">
        <p class="text-justify lead">
          After extracting quotes related to climate change, we acquire following results.
        </p>
      </div>

      <div class="col-md-6 pie-label-up">
        <h6 class="subheading text-center">Total number of climate change quotes</h6>
        <div id="pie_climate_quotes"></div>
      </div>
      <div class="col-md-6">
        <h6 class="subheading text-center">Climate change quotes grouped by party affiliation</h6>
        <div id="pie_climate_quotes_party"></div>
      </div>
    </div>

    <br><br>

    <div class="row mt-3">
      <div class="col-md-12">
        <p class="text-justify lead">
          We can easily see that the Republicans are quoted more about climate change than the Democrats. Bla bla bla..
          Because blabla...
          Relatively bla bla bla.
        </p>
      </div>
    </div>


    <br><br>

    <div class="row">
      <div class="col-lg-12 text-center">
        <h3 class="section-heading text-uppercase">Further Analysis</h3>
        <h3 class="section-subheading text-muted">
          Some more analysis...
        </h3>
      </div>
    </div>



    <div class="row">
      <div class="col-md-12">
        <h6 class="subheading text-center">Number of climate change quotations by gender</h6>
        <div>
          {% include CCquotes_per_gender.html %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h6 class="subheading text-center">Number of climate change quotations by age</h6>
        <div>
          {% include CCquotes_per_age.html %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h6 class="subheading text-center">Gender analysis by age</h6>
        <div>
          {% include CC_age_gender.html %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h6 class="subheading text-center">Top 8 Climate Change Speakers</h6>
          </div>
          <div class="panel-body">
            <div class="col-md-10 display-inline-block">
              <div id="testest"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

</section>