<!-- Timeline Analysis -->
<section class="page-section" id="conclusion">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">Conclusion</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <div class="large text-muted">Quotes truly are powerful. Given the right context, of course. So, what is the
          context of climate change in a
          country which is one of, if not the biggest exporter of both CO2 and media citations?</div>
      </div>
    </div>
    <br><br>
    <div class="col-md-12">
      <h5 class="section-heading mt-3 mb-3 tb-3">How much are they saying?</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead">
        Naive analysis of the demographic related features
        (gender and age) could have deceived us into believing that those features are significant, but linear
        regression showcased the opposite. Once again,
        linear regression has expressed its true power! In the end, we have proven that the awareness (i.e., number of
        climate change related quotes) depends mostly on 3 groups
        of characteristics: political, educational and media-related ones.
      </p>
    </div>
    <br>

    <div class="col-md-12">
      <h5 class="section-heading mt-3 mb-3 tb-3">So, what are they saying?</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead">
        As we have seen the sentiment tells us very little in terms of people's opinions. However, it reveals the
        existence of media bias in the data. Because of this, we cannot be sure if certain outcomes are the result of a
        politician's stance on a topic or just how the media represents them. Moreover, we have exposed the existence of
        a tendency of Republicans to spread misinformation.
      </p>
    </div>
    <br>

    <div class="col-md-12">
      <h5 class="section-heading mt-3 mb-3 tb-3">So, when are they talking?</h5>
    </div>
    <div class="col-md-12">
      <p class="text-justify lead">
        The media dimension has a profound impact on time-series data, especially during election campaigns. At last,
        we were able to find campaigns that also influence the tendencies of politicians and media houses when talking
        about climate change.
      </p>
    </div>
  </div>
</section>
<!-- Timeline Analysis -->