<!-- Introduction -->
  <section class="page-section" id="introduction">
    <div class="container">

      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading text-uppercase mb-3 tb-3">Introduction</h2>

            <div class="section-subheading text-justify lead">
              Wildfires, hurricanes, droughts - just another regular year on planet Earth.
              The common factor is none other than <strong>climate change</strong>.
              <br><br>
              Climate change is a topic that deeply concerns us all and is potentially the most
              devastating problem that humanity will have to face so far.
              Although the impacts of global warming are sporadically occurring,
              thus providing a false sense of comfort, it is important to address
              these issues and take action. This is a human responsibility as well as a political one.
              <br><br>
              For that reason, we want to analyze how concerned are US politicians.
              Are they raising awareness about global warming and is fighting climate change
              a part of their agenda? Or perhaps, is this a topic they would rather sweep under the rug?
              <br>
              In addition to this, we want to investigate whether there are any correlations between specific
              demographical features (e.g. age, education, etc.) or political and business affiliations
              and the attitude towards climate change.
              <br><br>
              In this project, we aim to analyze quotes from US politicians concerning climate change.
              This should allow us to paint a picture of the importance of this problem from a politician's point of view.
              <br>
              Our analysis will be based on a set of quotes from US politicians published during the period from 2015 to 2020.
              More info on the original dataset can be found
              <a href="https://dlab.epfl.ch/people/west/pub/Vaucher-Spitz-Catasta-West_WSDM-21.pdf">here</a>.
              <br><br>

              <div class="row">
                <div class="col-sm-12 text-center">
                  In the words of the former US president: <q><em>What the hell is going on with Global Waming?</em></q>

                  <div class="tweet">
                    <img src="assets/img/trumpClimateChange.jpg" alt="" srcset="">
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>


      <div id="piechart_test"></div>
      <div id="barchart_test"></div>
      <div id="timeserieschart_test"></div>
      {% include test1.html %}
    </div>

  </section>
<!-- End Introduction -->