<!-- Linear Regression Grid -->

<div class="row">
    <div class="col-md-12">
        <h5 class="section-heading mt-3 mb-3 tb-3">All together now (Linear Regression)</h5>
    </div>

    <div class="col-md-12">
        <p class="text-justify lead">
            Okay, that's enough of analysing the isolated parameters. We have observed some interesting statistics, but
            is it relevant to our problem? <br>
            Recall that our analysis should be based on different political and demographic parameters of speakers. So,
            let's see which of the aforementioned parameters really matter. As Robert West would say, 'Linear regression
            gives us free p-values'. So why shouldn't we take advantage of this present?
        </p>
        <p class="text-justify lead">
            We are trying to predict the number of <strong>climate change related quotes</strong> attributed to a single
            person. The
            features related to a person used for this regression analysis can be divided into 5 categories:

        <div class="col-md-6">
            <ul>
                <li class="lead">Demographic features</li>
                <ul>
                    <li class="lead">gender_name: categorical, the gender of the politician</li>
                    <li class="lead">age: integer, the age of the politician</li>
                </ul>

                <li class="lead">Media features</li>
                <ul>
                    <li class="lead">totalNumOccurences: integer, total number of citations by the media</li>
                    <li class="lead">total_num_quotes: integer, total number of quotes in general</li>
                </ul>
            </ul>
        </div>

        <div class="col-md-6">
            <ul>
                <li class="lead">Political features</li>
                <ul>
                    <li class="lead">party_name: categorical, the politicians affiliation</li>
                    <li class="lead">was_candidate: boolean, presidential candidate</li>
                    <li class="lead">was_in_congres: boolean, congress membership</li>
                    <li class="lead">party_count: integer, number of parties the politician was in</li>
                </ul>


                <li class="lead">Educational features</li>
                <ul>
                    <li class="lead">degree_num: ordinal, degree of education (bachelor, master, phd)</li>
                </ul>
            </ul>
        </div>



        </p>
        <br>
        <p class="text-justify lead">
            Voilà! <br>
            Feel free to take a sneak peek at the result of linear regression:
        </p>
        <div class="col-md-12 residuals">
            <pre>
                                                        OLS Regression Results
                            ==============================================================================
                            Dep. Variable:              quotation   R-squared:                       0.949
                            Model:                            OLS   Adj. R-squared:                  0.949
                            Method:                 Least Squares   F-statistic:                     4929.
                            Date:                Thu, 16 Dec 2021   Prob (F-statistic):               0.00
                            Time:                        03:04:16   Log-Likelihood:                -13979.
                            No. Observations:                3167   AIC:                         2.798e+04
                            Df Residuals:                    3154   BIC:                         2.806e+04
                            Df Model:                          12
                            Covariance Type:            nonrobust
                  =====================================================================================================
                                                          coef    std err          t      P&gt;|t|      [0.025      0.975]
                  -----------------------------------------------------------------------------------------------------
                  Intercept                           -20.2614      3.060     -6.622      0.000     -26.261     -14.262
                  party_name[T.Republican Party]       -3.9679      0.734     -5.406      0.000      -5.407      -2.529
                  gender_name[T.Male]                   1.2639      0.885      1.429      0.153      -0.471       2.998
                  gender_name[T.Transgender female]     3.7035     11.620      0.319      0.750     -19.080      26.487
                  was_candidate[T.True]                 5.5953      2.323      2.409      0.016       1.041      10.149
                  was_in_congres[T.True]                6.8878      0.835      8.251      0.000       5.251       8.525
                  was_president[T.True]              -882.1337     35.320    -24.976      0.000    -951.386    -812.881
                  degree_num                           14.8775      1.616      9.208      0.000      11.710      18.045
                  age                                  -0.0306      0.027     -1.151      0.250      -0.083       0.021
                  party_count                          25.9043      2.569     10.082      0.000      20.866      30.942
                  numOccurrences                        0.1794      0.001    135.605      0.000       0.177       0.182
                  totalNumOccurrences                   0.0004   8.72e-05      4.377      0.000       0.000       0.001
                  total_num_quotes                     -0.0010   4.77e-05    -21.944      0.000      -0.001      -0.001
                            ==============================================================================
                            Omnibus:                     2529.379   Durbin-Watson:                   2.026
                            Prob(Omnibus):                  0.000   Jarque-Bera (JB):          2639467.474
                            Skew:                           2.466   Prob(JB):                         0.00
                            Kurtosis:                     144.343   Cond. No.                     1.49e+06
                            ==============================================================================
                  </pre>
        </div>

        <br>

        <p class="text-justify lead">
            The model achieved an astonishing R<sup>2</sup> value of 0.949 implying that we explained almost all of the
            variance.
            But are the residuals centered?
        </p>
    </div>

    <div class="col-md-12">
        {% include residuals.html %}
    </div>
    <div class="col-md-12">
        <p class="text-justify lead">
            Yes! We can conclude that R<sup>2</sup> measure is relevant. <br>
        </p>
    </div>

    <br> <br>

    <div class="col-md-12">
        <p class="text-justify lead">
            Moreover, the p-values of all features except the demographic ones entail significance. This is unexpected,
            linear
            regression proved to not be gender biased. As we have seen before women are more inclined to talk about
            climate change, so how is this possible?
        </p>

        <p class="text-justify lead">
            This must mean that another feature is the influential one, and that the gender feature is just masking it.
            We have a strong hunch that this mystical feature is none other than the party name (which indeed is a
            significant feature).
            Let's take a closer look at some more charts.

        </p>

        <div class="col-md-12">
            <h6 class="subheading text-center">Gender distribution in political parties</h6>
        </div>

        <div class="col-md-12">
            {% include gender_party.html %}
        </div>

        <p class="text-justify lead">
            Clearly, the proportion of women is much bigger in the Democratic party - there are almost twice as much
            women in the Democratic Party than in the Republican Party. Hence, it is not the gender that's dominating,
            but simply the party.
        </p>
    </div>
</div>