<!-- Sentiment Analysis -->
<section class="page-section" id="sentiment_analysis">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">What are they saying?</h2>
        <h3 class="section-subheading text-muted">it's all about emotion...</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-justify lead">
          <strong>Sentiment analysis</strong>
        </p>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          It is common for people to talk about the disastrous effects of climate change as well as claim that it is
          nothing to worry about. For this reason it might be interesting to study the patterns of sentiment in what
          people say. The sentiment of a quote reveals very little about someones opinions on climate change and the
          message they convey. To illustrate, a person can be in support of the fight against climate change and still
          make positive as well as negative quotes. For example, talking about how it is as great threat for humanity
          will return a negative sentiment, but a supporter can also claim that there is hope if we act immediately.
          Moreover, sentiment analysis can help us inquire into the overall atmosphere of one's statements and possibly
          see if there are any patterns that may have a subliminal dimension.
          <br><br>
          To determine the sentiment we can use a pretrained model from Huggingface. After running this model we append
          a values between -1 and 1 to each quote. Where negative values imply a negative sentiment and vice versa. This
          model achieves state-of-the-art accuracy of <a
            href="https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english">92.7%</a>
          .
        </div>
      </div>

      <div class="col-md-12">
        <p class="text-justify lead">
          Let us inspect the positive and negative sentiment of climate change quotes in respect to political parties.
        </p>
      </div>

      <div class="col-md-6">
        <h6 class="subheading text-center">Sentiment climate change quotes for Democratic Party</h6>
      </div>
      <div class="col-md-6">
        <h6 class="subheading text-center">Sentiment climate change quotes for Republican Party</h6>
      </div>
      <div class="col-md-6">
        <div id="pie_sentiment_democrats"></div>
      </div>
      <div class="col-md-6">
        <div id="pie_sentiment_republicans"></div>
      </div>

      <br><br>

      <div class="col-md-12">
        <p class="text-justify lead">
          Here we can see that here that there is a slightly higher tendency of democrats to make positive claims about
          climate change than Republicans. Nevertheless, the difference is not too prominent to make a valid statement.
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-justify lead">
          <strong>Misinformation analysis</strong>
        </p>
      </div>

      <div class="col-md-12">
        <div class="section-subheading text-justify lead">
          It is a well known fact that a lot of controversy is built around climate change. The non-scientific popular
          media is filled with misconceptions and manipulative claims on the topic. It would be useful to look into how
          this phenomenon influenced our dataset. In order to achieve this we can yet again rely on contemporary models.
        </div>
      </div>
      <div class="col-md-12">
        <p class="text-justify lead">
          The key feature for this process has been extracted using CARDS (Computer-assisted detection and
          classification of misinformation about climate change) model. This feature takes integer values from the range
          [0,17]. The value 0 refers to quote not being classified as misinformation, while integer values from rage
          [1-17] refer to different classes of misinformations. For our analysis, we will focus only on the question if
          misinformation exists, and, therefore, we will consider only 2 classes: true quote (i.e. value of 0) and
          misinformation (i.e. any integer value from range [1-17].<br>
          So let's start.
        </p>
      </div>
      <br><br>
      <div class="col-md-4">
        <h6 class="subheading text-center">Total number of quotes per party</h6>
      </div>
      <div class="col-md-4">
        <h6 class="subheading text-center">Number of true climate change quotes</h6>
      </div>
      <div class="col-md-4">
        <h6 class="subheading text-center">Number of misinformative climate change quotes</h6>
      </div>
      <div class="col-md-4">
        <div id="pie_misinfo_total"></div>
      </div>
      <div class="col-md-4">
        <div id="pie_true"></div>
      </div>
      <div class="col-md-4">
        <div id="pie_misinformation"></div>
      </div>

      <br>
      <br>
      <div class="col-md-12">
        <p class="text-justify lead">
          There is a noticeable distinction in the way parties make claims. Even though most claims on the topic are
          made by the democrats most of the misinformation was pushed through by the Republicans.</p>
        <p class="text-justify lead">
          So far, regarding sophisticated sentiment analysis, we have noticed that Republicans are more negative and
          more deceiving. <br> Not a lovely characteristics.
        </p>
      </div>
    </div>

  </div>
</section>
<!-- End Sentiment Analysis -->