<div id="tabsComparison">
    <div id="tsum-tabs">
        <main>
            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1">Qualitative</label>

            <input id="tab2" type="radio" name="tabs">
            <label for="tab2">Quantitative</label>

            <section id="content1">
                <li>FastText is more flexible in terms of the query, not necessarily for classifying climate change
                </li>
                <li>BERT infers from whole sentences and not a bag of words
                </li>
                <li>
                    Precision/Recall trade-off is more continuous in FastText and, therefore, can be chosen for a given
                    problem by setting a correct threshold
                </li>
                <li>BERT returns probabilities with a clear separation between 0 and 1 outputs i.e. very few outputs
                    are
                    in between giving a natural way of choosing a threshold.</li>
            </section>

            <section id="content2">
                In order to compare the difference in performance, we run both models on the "claims" test set
                provided in
                ClimaText. This dataset consists of claims extracted from online articles and was chosen because of
                its
                convenient resemblance to the Quotebank dataset. Moreover, it is balanced with 500 claims labeled as
                <em>related to climate change</em> and equally as many labeled as <em>unrelated</em>.
            </section>
        </main>
    </div>
</div>