<div class="wrapper">
    <div class="tabs">
        <div class="tab">
            <input type="radio" name="css-tabs" id="tab-1" checked class="tab-switch">
            <label for="tab-1" class="tab-label">Qualitative</label>
            <div class="tab-content">The qualitative differences of the two approaches:
                <li>FastText is more flexible in terms of the query, not necessarily for classifying climate change
                </li>
                <li>BERT infers from whole sentences and not a bag of words
                </li>
                <li>
                    Precision/Recall trade-off more continuous in FastText and, therefore, can be chosen for a given
                    problem by setting a correct threshold
                </li>
                <li>BERT returns probabilities with a clear separation between 0 and 1 outputs i.e. very few outputs
                    are
                    in between giving a natural way of choosing a threshold.</li>
            </div>
        </div>
        <div class="tab">
            <input type="radio" name="css-tabs" id="tab-2" class="tab-switch">
            <label for="tab-2" class="tab-label">Quantitative</label>
            <div class="tab-content">Quantitative differences:<br>
                In order to compare the difference in performance we run both models on the "claims" test set
                provided in
                ClimaText. This dataset consists of claims extracted from online articles and was chosen because of
                its
                convenient resemblance to the Quotebank dataset. Moreover, it is balanced with 500 claims labeled as
                related to climate change and equally as many labeled as unrelated.</div>
        </div>
    </div>
</div>