<!-- Timeline Analysis -->
<section class="bg-light page-section" id="timeline_analysis">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">When are they talking?</h2>
                <h3 class="section-subheading text-muted">
                    Some more analysis...
                </h3>
            </div>

            <div class="col-md-12">
                <p class="text-justify lead">
                    <strong>Timeline Analysis</strong>
                </p>
            </div>

            <div class="col-md-12">
                <p class="text-justify lead">
                    Another interesting question we wanted to give answer to is which politicians are prone to fast
                    forget
                    issues related to our topic. <br> For this type of analysis, we will consider only politicians with
                    most
                    quotes about climate change (Barack Obama, Bernie Sanders, Donald Trump, etc.), since they are the
                    most
                    representative individuals.
                </p>
                <p class="text-justify lead">
                    Firtsly, let's consider former presidents, Barack Obama and Donald Trump.
                </p>
            </div>

            <div class="col-md-12">
                <h6 class="subheading text-center">Timeline for Barack Obama</h6>
            </div>
            <div class="col-md-12">
                <div id="BarackObama"></div>
            </div>

            <div class="col-md-12 mt-3">
                <h6 class="subheading text-center">Timeline for Donald Trump</h6>
            </div>
            <div class="col-md-12">
                <div id="DonaldTrump"></div>
            </div>

            <div class="col-md-12 mt-2">
                <p class="text-justify lead">
                    Note one interesting thing - Barack Obama said the most climate change related quotes in the period
                    before the year 2017, while Donald Trump became more cited in the year 2017 and onwards.
                    <br>
                    As you probably know, 2016-2017 is the period of change; Barack Obama finished his career as US
                    president and Donald Trump began his. Could this be influencing the results, i.e. Barack Obama
                    became irrelevant after the end of his career (and vice-versa for Donald Trump)? Recall that in
                    linear regression analysis, we noted the importance of media relevant features.
                    <br><br>
                    Let's take another speakers, important figures but who were not elected as US presidents during
                    their careers. Ideal one are Bernie Sanders and Hillary Clinton.
                </p>
            </div>

            <div class="col-md-12 mt-2">
                <h6 class="subheading text-center">Timeline for Bernie Sanders</h6>
            </div>
            <div class="col-md-12">
                <div id="BernieSanders"></div>
            </div>

            <div class="col-md-12 mt-2">
                <p class="text-justify lead">
                    Bernie Sanders mostly talked about this issue in two periods: end of the year 2015 and end of the
                    year 2019. Those are the periods of his presidential campaigns. But did he magically become more
                    aware of climate change during these periods? Or is there another explanation?<br>
                    Let's see the situation in case of Hillary Clinton.
                </p>
            </div>

            <div class="col-md-12">
                <h6 class="subheading text-center">Timeline for Hillary Clinton</h6>
            </div>
            <div class="col-md-12">
                <div id="HillaryClinton"></div>
            </div>

            <div class="col-md-12">
                <p class="text-justify lead">
                    Interesting, a trend of awareness of climate change problems is also emphasized here in the period of
                    political campaigns.
                    <br><br>
                    So, now we became more suspicious of the fact that politicians abuse this global issue, so they
                    could
                    gain on popularity needed in the elections process.
                </p>
            </div>
        </div>

        <br>
        {% include matching.html %}
    </div>
</section>