// Styling for the masthead
header.masthead {
  text-align: center;
  color: white;
  background: url("#{$header-image}") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
   min-height: 100vh;
   min-width: 100vw;
  .intro-text {
    padding-top: 150px;
    padding-bottom: 100px;
    .intro-lead-in {
      font-size: 18px;
      font-style: italic;
      line-height: 18px;
      margin-bottom: 20px;
      padding-top: 3%;
      @include serif-font;
    }
    .intro-heading {
      font-size: 50px;
      font-weight: 700;
      line-height: 50px;
      margin-bottom: 25px;
      @include heading-font;
    }
  }
  .quotation {
    background-image: url("#{$quotation-image}");
    height: 80px;
    width: 80px;
    margin-top: -6%;
    &.left {
      float: left;
    }
    &.right {
      float: right;
      -moz-transform: scale(-1, -1);
      -o-transform: scale(-1, -1);
      -webkit-transform: scale(-1, -1);
      transform: scale(-1, -1);
    }
  }

}
@media (min-width: 768px) {
  header.masthead {
    .intro-text {
      padding-top: 270px;
      padding-bottom: 200px;
      .intro-lead-in {
        font-size: 25px;
        font-style: italic;
        line-height: 25px;
        margin-bottom: 20px;
        @include serif-font;
      }
      .intro-heading {
        font-size: 75px;
        font-weight: 700;
        line-height: 75px;
        margin-bottom: 50px;
        @include heading-font;
      }
    }
  }
}
